h1 {
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 300%;
}
p  {
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 100%;
}
h2 {
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 250%;
}
h3 {
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 200%;
}
h4 {
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 150%;
h5 {
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 115%;
}
a {
    color: blue;
    font-family: 'Montserrat', sans-serif;
    font-size: 100%;
}
